<?xml version="1.0" encoding="UTF-8"?>
<menu>
  <menuitem label="Ver Posts">
    <action>SystemPostFeedView</action>
    <icon>fas:bullhorn fa-fw</icon>
  </menuitem>
  <menuitem label="Listar Trabalhos">
    <action>ListApprovedWorks</action>
    <icon>fas:align-justify fa-fw</icon>
  </menuitem>
  <menuitem label="Adicionar  Produção">
    <action>CreateAcademicWork</action>
    <icon>fas:file-alt fa-fw</icon>
  </menuitem>
  <menuitem label="Administração ">
    <icon>fas:ad fa-fw</icon>
    <menu>
      <menuitem label="Revisar Trabalhos">
        <action>ReviewWork</action>
        <icon>fas:check fa-fw</icon>
      </menuitem>
      <menuitem label="_t{News management}">
        <action>SystemPostList</action>
        <icon>fas:edit fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Contacts}">
        <action>SystemContactsList</action>
        <icon>fas:user-friends fa-fw</icon>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="Administração Mestre">
    <icon>fas:home fa-fw</icon>
    <menu>
      <menuitem label="Dashboard">
        <action>SystemAdministrationDashboard</action>
        <icon>fas:tachometer-alt fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Programs}">
        <action>SystemProgramList</action>
        <icon>far:file-code fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Groups}">
        <action>SystemGroupList</action>
        <icon>fas:users fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Units}">
        <action>SystemUnitList</action>
        <icon>fas:university fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Users}">
        <action>SystemUserList</action>
        <icon>fas:user fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Database explorer}">
        <action>SystemDatabaseExplorer</action>
        <icon>fas:database fa-fw</icon>
      </menuitem>
      <menuitem label="_t{SQL Panel}">
        <action>SystemSQLPanel</action>
        <icon>fas:table fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Menu editor}">
        <action>SystemMenuEditor</action>
        <icon>far:edit fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Files diff}">
        <action>SystemFilesDiff</action>
        <icon>fas:file-medical-alt fa-fw</icon>
      </menuitem>
      <menuitem label="PHP Info">
        <action>SystemPHPInfoView</action>
        <icon>fas:info-circle fa-fw</icon>
      </menuitem>
      <menuitem label="System Information">
        <action>SystemInformationView</action>
        <icon>fas:desktop fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Preferences}">
        <action>SystemPreferenceForm#method=onEdit</action>
        <icon>fas:cog fa-fw</icon>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="Logout">
    <action>LoginForm#method=onLogout#static=1</action>
    <icon>fas:sign-out-alt fa-fw</icon>
  </menuitem>
</menu>
